<!DOCTYPE HTML>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>My Favorite Lyrics</title>
</head>
<body>
  <header>
    <div class="heading">
      <h1 class="title">My Favorite Lyrics</h1>
    </div>
    <div class="navbar">
      <ul class="nav-lists">
        <li>ログイン</li>
        <li>新規登録</li>
      </ul>
    </div>
  </header>

  <div class="contents">
  </div>
  <footer>
  </footer>
</body>
</html>