<p><%= @nickname %>さんの投稿一覧</p>
<% @lyrics.each do |lyric| %>
   <%= render partial: "lyrics/lyric", locals: { lyric: lyric } %>
      <% if user_signed_in? && current_user.id == lyric.user_id %>
        <%= link_to '編集', edit_lyric_path(lyric.id), method: :get %>
        <%= link_to '削除', lyric_path(lyric.id), method: :delete %>
      <% end %>
       </div> 
    </div>
<% end %>