/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

header {
  height: 50px;
  background-color: powderblue;
  padding: 10px; 0;
  display: flex;
}

.heading {
  width: 50%;
  margin-left: 50px;
}

.navbar {
  width: 50%;
  padding: 20px;
}

.nav-lists {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

.contents {
  height: 1000px;
  background-color: aliceblue;
  margin: 0 10px;
}
